[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggdensity"]
	path = ggdensity
	url = https://github.com/jamesotto852/ggdensity
